@import "../../assets//scss/constants.scss";

.Materia {
	box-sizing: border-box;
	position: relative;
}
.Subtitle {
	text-transform: capitalize;
}

.BtnClose {
	cursor: pointer;
	border: 2px solid $color_topic_02;
	border-radius: 5px;
	padding: 10px 25px;
	background-color: transparent;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateY(-100%);
	overflow: hidden;
	transition: 0.2s;
	&:hover {
		color: $white;
		background-color: $color_topic_02;
	}
}

.Olho {
	position: relative;
	float: right;
	max-width: 400px;
	width: 100%;
	padding: 25px 35px;
	box-sizing: border-box;
	margin-top: 15px;
	.Who {
		position: relative;
		text-transform: capitalize;
		padding-left: 15px;
		span {
			display: block;
			opacity: 0.5;
		}
		&::before {
			content: "-";
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.Citation {
		position: relative;
		font-size: 1.5em;
		&:before,
		&:after {
			z-index: -1;
			color: #b8cecc;
			position: absolute;
			font-size: 200px;
			line-height: 0;
		}
		&:before {
			content: "“";
			top: 50px;
			left: -25px;
		}
		&:after {
			content: "”";
			bottom: -25px;
			right: 0;
		}
	}
	p {
		margin-top: 0;
	}
}
