$color: rgb(122, 122, 122);
.Off{
    transform: translateY(100px);
}
.Btn {
    z-index: 99999;
    opacity: 0.35;
    width: 45px;
	height: 45px;
	position: fixed;
	background: $color;
	bottom: 0;
	right: 0;
	border-radius: 100%;
	margin: 10px;
	display: flex;
    justify-content: center;
    transition: 250ms;
    &:hover{
        opacity: 0.9;
    }
}

.Arrow {
	position: relative;

	&:after,
	&:before {
		content: "";
		position: absolute;
		top: 48%;
		bottom: 50%;
		border-left: 15px solid transparent;
		border-bottom: 15px solid black;
		border-right: 15px solid transparent;
		transform: translate(-50%, -60%);
	}

	&:after {
		border-bottom: 15px solid $color;
		z-index: 3;
		transform: translate(-50%, -30%);
	}
}
