@import "../../assets//scss/constants.scss";

.Title{
    font-size: 3em;
    color: #2fadb1;
    line-height: 1.2em;
    padding-bottom: 30px;
    border-bottom: 1px solid $borderGray;
    margin-bottom: 50px;
}